$susy: (
        columns: 12,
        gutters: 1/4,
        global-box-sizing: border-box,
        //debug: (image: show)
);


/*Susy*/
@import "base/susy";

/*Resets*/
@import "base/normalize";
@import "base/border-box";

/*Helpers*/
@import "helpers/helpers";

/*Typebase*/
@import "base/typebase";

/*Links*/
@import "base/links";

/*Layout*/
@import "layout/layout";

/*Clearing*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
