footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 3em;
  background-color: darken($darkprimary, 5%);
  color: $specialtext;
  line-height: 3em;
  text-align: center;
  @extend %clearfix;

  .mobile_footer {
    display: none;
  }

  @media all and (max-width: 480px){
    .regular {
      display: none;
    }
  }

  @media all and (max-width: 480px){
    .mobile_footer {
      display: block;
    }
  }

}