.top-bottom {
  display: none;
  position: fixed;
  right: 0.75em;
  bottom: 3.1em;
  padding: 1em 1.5em;
  background-color: lighten($divider, 10%);
  color: $secondarytext;

  opacity: 0.8;

  &:hover, &:focus {
    opacity: 1;
  }

  @media screen and (min-width: 960px){
    right: 3em;
  }
}


footer {
  width: 100%;
  min-height: 3em;
  background-color: darken($darkprimary, 5%);
  color: $specialtext;
  line-height: 3em;
  text-align: center;
  @extend %clearfix;

  .mobile_footer {
    display: none;
  }

  @media all and (max-width: 480px){
    .regular {
      display: none;
    }
  }

  @media all and (max-width: 480px){
    .mobile_footer {
      display: block;
    }
  }

}