//general styles i guess idk where else to put this
.single, .contact, .about {
  //general article styling
  article {
    padding: 1em 0 5em;

    @media screen and (min-width: 1024px){
      padding: 2em 0 4em;
      .wrap {
        padding: 0 3em;
      }
    }

    @media screen and (min-width: 1440px){
      padding: 4em 0 6em;
      .wrap {
        padding: 0 gutter();
      }
    }
  }
}

::selection{
  background: $lightprimary;
  color: $primarytext;
}
::-moz-selection {
  background: $lightprimary;
  color: $primarytext;
}

.error {
  background-color: $darkprimary;

  article {
    margin-bottom: span(2);

    p {
      font-size: 175%;
      line-height: inherit;
    }
    p, a {
      color: $specialtext;
    }
  }
}