html, body {
  min-height: 100%;
  background-color: darken(#FFF, 5%);
}

.site-container {
  @include container(100%);
  min-height: 100vh;
  position: relative;
  @extend %clearfix;
}

.wrap {
  @include container(93%);

  @media all and (min-width: 1240px){
    @include container(90%);
  }

  @media all and (min-width: 1440px){
    @include container(79%);
  }

  @media all and (min-width: 1680px){
    @include container(68%);
  }
}

//next breakpoint is 990px

section, article {
  @extend %clearfix;
}
