#header{
  @extend %clearfix;
  width: 100%;
  height: 3.5em;
  z-index: 9999;
}

.site-header {
  position: fixed;
  top: 0;
  overflow: visible;

  @media screen and (min-width: 1030px){
    overflow: hidden;
  }

  a {
    color: $specialtext;
    opacity: 0.7;
  }

  .site-title {
    @include span(4);
    margin-top: .22em;
    font-size: 2.5em;
    font-family: $site-title;
    text-transform: none;
    letter-spacing: 0;

    .fullname, .initials {
      display: none;
    }

    @media all and (max-width: 920px){
      .initials {
        display: inline;
      }
    }

    @media all and (min-width: 920px){
      .fullname {
        display: inline;
      }
    }

  }

  nav.main-nav {
    @include span(7 last);
    font-family: $headings;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

}

.main-nav {
  ul{
    list-style: none;
    margin: 0;
    width: auto;
    float: right;


    li {
      float: left;
      font-weight: 600;
      line-height: 3.5em;

      &.mnav {
        a:hover, a:focus {
          border: none;
          background-color: transparent;
        }
      }

      @media all and (min-width: 1030px){
        &.mnav {
          display: none;
        }

        &.nav__portfolio,
        &.nav__about,
        &.nav__contact {
          a {
            transition: all 0.3s ease-in-out;

            &:hover, &:focus, &.active{
              @include overline-reveal;
              opacity: 1;
            }
          }
        }
      }

      @media all and (max-width: 1030px){
        &.nav__portfolio,
        &.nav__about,
        &.nav__contact {
          display: none;
        }
      }

    }
  }



  a {
    display: block;
    padding: 0 1.5em;

    &:hover, &:focus, &.active {
      border-top: 3px solid darken($lightprimary, 13%);
      background-color: lighten($darkprimary, 3%);
    }
  }
}

.mobile-nav {
  position: relative;
  z-index: 888;
  display: none;

  ul {
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba($primarytext, 1);
  }

  li {
    text-align: center;

    &.nav__about {
      border-top: 1px solid $divider;
      border-bottom: 1px solid $divider;
    }

    a {
      display: block;
      padding: 1em 0;
      color: lighten($divider, 30%);

      &:hover, &:focus, &.active {
        background-color: darken($primarytext, 20%);
        font-weight: 700;
      }
    }
  }

  @media screen and (orientation: landscape), screen and (min-width: 600px){
    ul {
      position: absolute;
      top: 0;
      right: 0.25em;
      width: 50%;
    }
  }
}

.posts, .about, .contact {
  .site-header {
    background-color: $darkprimary;
    border-bottom: 1px solid rgba($accent, 0.6);
    box-shadow: 0 1px 5px 0 rgba($accent,0.45);
  }
}
