.contact article{
  p{
    margin-bottom: 2.5em;
  }
}


.contact-content {
  background-color: lighten($divider, 18%);
  margin-top: span(2);
  padding: gutter() gutter()*2;

  @media screen and (min-width: 1280px) {
    .social-list {
      width: span(5);
    }
  }

  @media screen and (min-width: 960px){
    @include span(5 last);
    background: none;
    margin-top: 0;
    padding: 0;

    .section-title {
      text-align: right;
      margin-top: 3rem;
    }

    .social-list {
      width: span(7);
      margin: 0 auto;
    }
  }

  .section-title {

  }

  .social-list {
    list-style: none;
    padding: 0;


    li {
      margin-bottom: 1.8em;
    }

    a { border-bottom: none;}

    .fa {
      color: $darkprimary;
      font-size: 1.5em;
      margin-right: 1em;
    }

    a:hover .fa,
    a:focus .fa{
      color: $primarytext;
    }

    .social-handle{
      border-bottom: 2px solid $primary;
    }

    a:hover .social-handle,
    a:focus .social-handle{
      border-color: $secondarytext;
    }
  }

}

//contact form
.contact {

  form {
    @extend %clearfix;

    @media screen and (min-width: 960px){
      @include span(5);
    }

    .form-lead {
      padding: gutter() 0;
    }

    label, button, input, textarea {
      display: block;
      border: none;
    }

    label {
      font-size: 1.2em;
      font-weight: 700;
    }

    input, textarea {
      width: 100%;
      margin: 0.3em 0 1.3em;
      padding: 0.3em;
      background: none;
      border-bottom: 2px solid $secondarytext;
      color: $secondarytext;
      font-weight: normal;
      font-size: 100%;
      transition: border 0.3s ease, background-color 0.2s ease;

      &:focus {
        outline: none;
        background-color: rgba(lighten($divider, 18%), 0.8);
        border-color: $accent;
      }
    }

    textarea {
      resize: none;
      min-height: 8em;
      line-height: 1.6;
      overflow: visible;
    }

    button {
      background: transparent;
      float: right;
      @include ghost-button($bg:lighten($primarytext, 15%));
    }

  }

}