//front page
@import "homepage";

.posts, .about, .contact {
  background-image: url(http://www.transparenttextures.com/patterns/diamond-eyes.png);

  section, article {
    &:nth-of-type(even){
      background-color: lighten($divider, 18%);
    }
  }

  article {
    padding: 2.5em (gutter() * 2);

    &:first-child {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 3em;
    }

    @media all and (min-width: 600px){
      padding: 7.5em 0;
    }

  }
}

main header {
  background-color: $darkprimary;
  text-align: center;

  h1.page-title {
    margin: 0;
    color: $specialtext;
    font-size: 1 * $scale * 1rem;
    padding: 1.75em 0 1.25em;

    @media screen and (min-height: 481px){
      padding: 3.75em 0 2.25em;
    }

    @media screen and (min-width: 480px){
      font-size:  1.7 * $scale * 1rem;
      padding: 3em 0 1.75em;
    }

    @media screen and (min-width: 680px){
      font-size:  2.7 * $scale * 1rem;
      padding: 3em 0 1.75em;
    }
  }
}

//posts page aka url/portfolio
@import "postspage";