.single{
  img {
    width: 100%;
    display: block;
  }

  //general article styling
  article {
    padding: 1em 0 5em;

    @media screen and (min-width: 1024px){
      padding: 2em 0 4em;
      .wrap {
        padding: 0 3em;
      }
    }

    @media screen and (min-width: 1440px){
      padding: 4em 0 6em;
      .wrap {
        padding: 0 gutter();
      }
    }
  }

  .article__intro {
    @extend %clearfix;

    .article__content {
    }

    aside p {
      text-align: center;
      margin-top: 2em;
    }

    figure.screenshot {
      @extend %img-shadow;
    }

    figcaption {
      background-color: lighten($secondarytext, 45%);
      color: $secondarytext;
      text-align: center;
      padding: 0.5em 0;
    }


    @media screen and (min-width: 960px){
      .article__content {
        @include span (5);
      }
      aside {
        @include span (6 last);
      }
    }

  }

  //content article styling
  .article__details {
    .article__content {
      figure {
        margin: 2em 0;
        padding: 0 gutter()*3;
      }

      figcaption {
        background-color: lighten($divider, 20%);
        color: $secondarytext;
        text-align: center;
        padding: 0.5em 0;
        @extend %img-shadow;
      }
    }

    @media screen and (min-width: 960px){
      .article__content {
        @include span(9);
        margin-left: span(1.5);
      }
    }

  }

}

