.single{
  img {
    width: 100%;
    display: block;
  }

  figcaption {
    background-color: lighten($secondarytext, 45%);
    color: $secondarytext;
    text-align: center;
    padding: 0.5em 0;
  }

  //general article styling
  article {
    padding: 1em 0;

    @media screen and (min-width: 1024px){
      padding: 2em 0;
      .wrap {
        padding: 0 3em;
      }
    }

    @media screen and (min-width: 1440px){
      padding: 4em 0;
      .wrap {
        padding: 0 gutter();
      }
    }
  }

  .article__intro {
    @extend %clearfix;

    .article__content {
    }

    figure.screenshot {
      background-color: #00808d;
      @extend %img-shadow;
    }

    @media screen and (min-width: 960px){
      .article__content {
        @include span (5);
      }
      figure.screenshot {
        @include span (6 last);
      }
    }

    @media screen and (min-width: 1440px){
      .article__content {
        @include span (5);
      }
      figure.screenshot {
        @include span (6 last);
      }
    }
  }

  //content article styling
  .article__details {
    .screen-gallery {
      .shot {
        @extend %img-shadow;
        display: none;
      }

      .title {
        display: list-item;
        //margin: 0.35em 0 0.35em 0.75em;
      }

      h3 {
        display: block;
      }
    }

    @media screen and (min-width: 960px){
      .article__content {
        @include span(7 last);
      }

      .screen-gallery{
        @include span(5);
        //height: 500px;
        padding: gutter();
        //background-color: #00808d;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        h3, .title {
          display: none;
        }

        .shot {
          display: block;
          width: 100%;
          margin-bottom: 1em;
        }
      }
    }
  }

}

