.button, button, .case-study, .view-live {
  font-family: $headings;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

//front page button
.button {
  @include ghost-button($bg: $primary);
}

aside .button {
  @include ghost-button();
}

.case-study, .view-live {
  @include ghost-button($bg: $darkaccent);

  @media all and (max-width: 494px){
    display: block;
    width: span(9);
    margin: 0 auto;
  }
}

.case-study {
  @media all and (min-width: 494px){
    margin-right: 1.5em;
  }

  @media all and (max-width: 494px){
    margin-bottom: 1em;
  }
}